git+https://github.com/aib22/raspa2.git@h2s
numpy
scipy
pyyaml

## for PITT HPC integration
redis
git+https://github.com/paulboone/rq.git@handle_sigterms
git+https://github.com/paulboone/sam-subjobserver.git@0.2
